.main-header {
  min-width: 320px;
  min-height: 264px;
  padding: 23px 20px 20px;
}

.container {
  display: flex;
  /* justify-content: space-between; */
  min-width: 279px;
  min-height: 65px;
}

.logo-image {
  display: flex;
  align-items: center;
  min-width: 33px;
  min-height: 38px;
  padding: 20px;

  cursor: pointer;

  .logo__cat-mobile {
    margin-right: 56px;
  }
}

.nav__toggle {
  width: 24px;
  height: 24px;
  padding: 4px 0;
}

.nav-close .nav__list {
  display: none;
}

.promo__container {
  position: relative;

  width: 320px;
  height: 480px;
  padding: 27px 35px;

  color: #ffffff;

  background-color: #f2f2f2;
  background-image: url("../img/index-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% auto, cover;

  /* Нашел один пример как наложить зеленый фон, но не работает
    background: linear-gradient(to bottom, rgba(104, 183, 56, 0.85)), url("../img/index-background-mobile.jpg"); */
}

/* банка корма - исправить распложение */
.promo__content {
  position: absolute;
  bottom: 0;
}

.promo__button a {
  margin: 0 auto;
}

.promo__title {
  width: 249px;
  height: 72px;
  margin-bottom: 25px;

  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-family: oswald;
  text-align: center;
  color: #ffffff;
}

.promo__text {
  width: 198px;
  height: 14px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-family: oswald;
  color: #ffffff;
  text-transform: uppercase;
}

/* 1. ссылки
   2. кнопки
   3. закончить хэдэр
   4. закончить файл с базовыми стилями
   5. bem css
   6. разложить в препроцессор*/
