.form__input {
  width: 100%;
  height: 52px;
  padding: 11px 20px;

  font-style: normal;
  font-size: 20px;
  font-family: $ff-lato;
  color: #444444;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #e7e7e7;

  appearance: none;

  & placeholder {
    font-size: 20px;
    line-height: normal;
    font-family: $ff-oswald;
    color: #444444;
    text-transform: uppercase;
  }
}

.form-input[type="textarea"] {
  appearance: textfield;
}

.form-input {
  & :hover {
    border-color: #cdcdcd;
  }

  & :focus {
    border-color: #444444;
  }

  & :error {
    border-color: #ff8282;
  }
}
