.application__header {
  padding: 25px 0 17px;

  @media (min-width: $tablet-width) {
    padding: 38px 0 44px;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 0 44px;
  }
}

.application__container {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.application__title {
  margin: 0 0 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }
}

.application__text {
  margin: 0;

  font-size: 14px;
  line-height: 18px;
  font-family: $ff-oswald;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
