.catalog {
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;

    border-top: none;
  }
}

.catalog__container {
  border-top: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    border-top: none;
  }
}

.catalog__header {
  padding: 27px 0 41px 0;

  @media (min-width: $tablet-width) {
    padding: 63px 0 84px;
  }

  @media (min-width: $desktop-width) {
    padding: 74px 0 84px;
  }
}

.catalog__title {
  margin: 0;
  padding: 0;

  line-height: 36px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.catalog__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  @media (max-width: 767px) {
    margin: 0 -20px;
  }

  @media (min-width: $tablet-width) {
    gap: 140px 60px;

    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
  }
}

.catalog__item {
  border-top: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    border: none;
  }

  &:last-child {
    border-bottom: 1px solid #cdcdcd;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 81px;
  }
}

.catalog__item-cover {
  display: grid;

  grid-template-columns: 140px 1fr;
  padding: 20px 20px 25px;
  min-height: 208px;
  // row-gap: 12px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 60px 37px 40px;

    background-color: #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 38px 40px;
  }
}

.catalog__link-image {
  display: block;
  width: 140px;
  height: 107px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 210px;
    margin: -130px auto 21px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    height: 210px;
    margin: -112px auto 13px;
  }
}

.catalog__image {
  display: block;
  width: 100%;
  height: 100%;
}

.catalog__link-title {
  color: #222222;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.catalog__card-title {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $ff-oswald;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    max-width: 130px;
    margin-left: 60px;

    & br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 19px;
  }
}

.catalog__description {
  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
}

.catalog__table {
  margin: 0;
  padding: 15px 0 8px;

  @media (min-width: $desktop-width) {
    padding: 17px 0 12px;
  }
}

.catalog__table-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    padding: 7px 0 4px;
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    padding: 7px 0 5px;
  }
}

.catalog__table-value {
  margin: 0;
}

.catalog__item--more .catalog__item-cover {
  grid-template-columns: 1fr;
  align-content: start;
  padding-top: 77px;

  background-image: url("../../img/svg/plus.svg");
  background-repeat: no-repeat;
  background-position: top 23px center;
  background-size: 30px 30px;

  @media (min-width: $tablet-width) {
    padding-top: 160px;

    background-color: #ffffff;
    background-image: url("../../img/svg/plus.svg");
    background-repeat: no-repeat;
    background-position: top 50px center;
    background-size: 60px 60px;

    border: 2px solid #f2f2f2;
  }

  br {
    @media (max-width: 767px) {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 147px;
  }
}

.catalog__item--more .catalog__card-title {
  margin-bottom: 10px;

  text-align: center;
  color: #111111;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
    margin-left: 53px;
    max-width: 140px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 11px;
    margin-bottom: 24px;
  }
}

.catalog__item--more .catalog__text {
  margin: 0 0 18px;

  text-align: center;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    max-width: 220px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 20px;
  }
}

.catalog__link {
  display: grid;
  width: 100%;
  margin-top: auto;

  grid-column: 1/-1;

  @media (min-width: $tablet-width) {
    padding: 10px 20px;
  }
}
