// КАРТОЧКА ТОВАРА

.catalog__link-title {
  display: block;
  margin: 0;

  text-decoration: none;
}

.catalog__card-title {
  margin: 0 0 23px;

  font-size: 16px;
  line-height: 20px;
  font-family: $ff-oswald;
  text-align: center;
  color: #222222;
  text-transform: uppercase;
}

// обертка содержания карточки
// .catalog__item-cover {
//   background-color: #f2f2f2;
// }

// .catalog__link-image {
//   display: block;
//   margin-top: -20px;
// }
