.catalog__table {
  display: flex;
  flex-direction: column;
}

.catalog__table-item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 10px;

  border-bottom: 1px solid #cdcdcd;
}

// Как посоветовала в гите сделать с карточками, я понял. Была бы десктопная версия, сделал бы. Но что нужно сейчас, не понимаю.
