.catalog__container {
  padding: 27px 20px;
}

.catalog__title {
  margin: 0;
  margin-bottom: 41px;
  padding: 0;

  font-size: 36px;
  line-height: 36px;
  font-family: $ff-oswald;
  color: #000000;
}

.catalog__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 25px;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 209px;
  padding: 20px 0;

  &--more {
    padding: 25px 0;
  }
}
