.catalog__container {
  padding: 0 20px 25px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 76px;
  }
}

.catalog__header {
  padding: 27px 0 41px 0;

  @media (min-width: $tablet-width) {
    padding: 65px 0 84px;
  }

  @media (min-width: $desktop-width) {
    padding: 74px 0 84px;
  }
}

.catalog__title {
  margin: 0;
  padding: 0;

  line-height: 36px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    column-gap: 60px;

    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    column-gap: 80px;

    grid-template-columns: repeat(4, 1fr);
    row-gap: 63px;
  }
}

.catalog__item {
  padding: 20px 0 25px;

  @media (min-width: $tablet-width) {
    padding: 0 38px 40px;
  }
}

.catalog__item-cover {
  display: grid;

  gap: 17px;
  grid-template-columns: 140px 1fr;
  grid-template-rows: 2;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    // background-color: #cdcdcd;
  }
}

.catalog__link-image {
  display: block;
  width: 140px;
  height: 107px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 210px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    height: 210px;
  }
}

.catalog__image {
  @media (min-width: $tablet-width) {
    justify-content: center;
  }
}

.catalog__link-title {
  margin: 0 0 23px;

  color: #222222;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.catalog__card-title {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $ff-oswald;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }
}

.catalog__table-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.catalog__table-value {
  margin: 0;
}

.catalog__item-cover--more {
  padding: 25px 0;

  grid-template-columns: 1fr;
}

.catalog__item--more .catalog__card-title {
  margin-bottom: 26px;

  text-align: center;
  color: #111111;
}

.catalog__item--more .catalog__text {
  margin: 0 0 90px;

  text-align: center;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.catalog__link {
  display: grid;
  width: 100%;

  grid-column: 1/-1;
}
