// див
.catalog__description {
  max-height: 430px;
  padding: 81px 38px;

  background-color: #f2f2f2;
}

.catalog__link-title {
  // display: block;
  text-decoration: none;
}

.catalog__card-title {
  margin: 0 0 23px;

  font-size: 20px;
  line-height: 24px;
  font-family: $ff-oswald;
  text-align: center;
  color: #222222;
  text-transform: uppercase;
}

.catalog__link-image {
  display: block;
  // не понимаю что ограничивает размеры картинки, да и вообще запутался
}

.catalog__image {
  position: absolute;
  top: -3%;
  left: 30%;
  z-index: 1;

  display: block;

  // transform: translate(,);
}
