.form__title--comments {
  margin-bottom: 38px;
}

.form-input-aria {
  margin-bottom: 24px;

  & placeholder {
    font-size: 20px;
    line-height: 30px;
    font-family: $ff-oswald;
    text-transform: uppercase;
  }
}
