.form__container {
  max-width: 1440px;
  padding: 0;
}

.form__group-wrapper {
  display: grid;

  @media (min-width: $desktop-width) {
    // max-width: 570px;
    gap: 80px;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1220px;
    margin: 0 auto 54px;
  }
}

.form__group {
  border: none;
  position: relative;

  width: 100%;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.form__group--data {
  padding: 23px 0;

  @media (min-width: $tablet-width) {
    padding: 21px 70px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 21px 0;
  }
}

.form__list {
  margin: 0;
  padding: 0;

  list-style: none;

  &--contacts {
    @media (min-width: $desktop-width) {
      display: grid;

      gap: 80px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.form__item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;

  column-gap: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.form__label {
  flex-shrink: 0;

  font-size: 16px;
  line-height: 18px;
  font-family: $ff-oswald;
  color: #444444;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__input {
  width: 100%;
  height: 45px;
  padding: 14px 15px 13px;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: $ff-oswald;
  color: #444444;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid #e7e7e7;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    height: 52px;
    padding: 11px 21px;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border-color: #444444;
    outline: none;
    box-shadow: 0 0 0 2px #444444;
  }
}

.form__input--error {
  border-color: #ff8282;
}

.form__group--radio {
  padding: 23px 20px 19px;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding: 54px 70px 25px;

    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 21px 0;
  }
}

.form__group--contacts {
  padding: 43px 20px 25px;

  @media (min-width: $tablet-width) {
    padding: 71px 70px 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 72px 110px 75px;
  }
}

.form__group--lines {
  border-top: 2px solid #68b738;
}

.form__title {
  position: relative;

  margin-left: -20px;
  padding: 0 20px;

  font-size: 24px;
  line-height: 26px;
  font-family: $ff-oswald;
  color: #000000;

  @media (min-width: $tablet-width) {
    top: -4px;

    margin: 0 -40px;
    padding: 0 40px;
    font-size: 36px;

    line-height: 36px;

    br {
      display: none;
    }
  }
}

.form__fieldset--contacts .form__title {
  @media (min-width: $tablet-width) {
    position: relative;
    top: 9px;
  }
}

// .form__input-container {
//   display: block;
//   width: 100%;
// }

.form__input-container {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 13px;
    transform: translateY(-50%);

    width: 20px;
    height: 20px;

    background-color: #000000;

    mask-position: center;
    mask-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      right: 16px;
    }
  }

  &--mail::after {
    mask-image: url("../../img/svg/icon-email.svg");
  }

  &--phone::after {
    mask-image: url("../../img/svg/icon-phone.svg");
  }

  &:focus-within::after {
    background-color: #68b738;
  }

  &--invalid::after {
    background-color: #ff8282;
  }
}

.form__group--comments {
  padding: 45px 0 20px;

  @media (min-width: $tablet-width) {
    padding-top: 132px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 125px;
  }
}

.form__group--comments .form__title {
  top: 9px;

  @media (min-width: $tablet-width) {
    top: 46px;
  }

  @media (min-width: $desktop-width) {
    top: 50px;
  }
}

textarea.form__input {
  height: 150px;
  padding: 14px;

  resize: none;

  @media (min-width: $tablet-width) {
    min-height: 175px;
    padding: 11px 20px;
  }
}

.form__group--check {
  padding: 34px 0px 19px;

  @media (min-width: $tablet-width) {
    padding-top: 100px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 105px;
  }

  .form__title {
    @media (min-width: $tablet-width) {
      top: 40px;
    }

    @media (min-width: $desktop-width) {
      top: 47px;
    }
  }
}

.form__order {
  padding: 30px 0px 32px;

  @media (min-width: $tablet-width) {
    display: grid;

    column-gap: 60px;

    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    padding: 40px 0px 32px;
  }
}

.form__button {
  width: 100%;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-bottom: 0;
  }
}

.form__note {
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
    font-size: 16px;
  }
}
