.form__input {
  width: 100%;
  height: 45px;
  padding: 14px 15px 13px;

  background-color: #ffffff;
  border: 1px solid #e7e7e7;

  appearance: none;

  & placeholder {
    font-size: 16px;
    line-height: 18px;
    font-family: $ff-oswald;
    color: #444444;
    text-transform: uppercase;
  }
  // барсик не реагирует на размер шрифта, да и вообще плейсхолдеры
}

.form-input[type="textarea"] {
  appearance: textfield;
}

.form-input {
  & :hover {
    border-color: #cdcdcd;
  }

  & :focus {
    border-color: #444444;
  }

  & :error {
    border-color: #ff8282;
  }
}
