.form__group-check {
  margin: 23px 0 34px;
  padding: 0;
}

.form__list-check {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-top: 34px;

  gap: 13px;
}

.control__input-check {
  width: 30px;
  height: 30px;
  margin: 0 15px 0 0;
}
