.logo {
  display: block;
  width: fit-content;

  color: #111111;

  cursor: pointer;

  --color-logo-text: #111111;
  fill: currentColor;

  &--full {
    display: grid;
    align-items: center;

    column-gap: 56px;

    grid-template-columns: auto 1fr;
  }
}

.logo__cat-img {
  display: block;
  width: 33px;
  height: 38px;
}

.logo__cat-text {
  display: block;
  width: 101px;
  height: 18px;
}

.logo--footer {
  &:hover {
    color: #3e3e3e;
  }

  &:focus {
    color: #3e3e3e;
  }

  &:active {
    color: #6b6b6b;
  }
}
