.main__logo-header {
  display: block;
  width: fit-content;

  cursor: pointer;

  &--full {
    display: grid;
    align-items: center;

    column-gap: 56px;

    grid-template-columns: auto 1fr;
  }
}

.logo__img {
  display: block;
  width: 33px;
  height: 38px;
}

.logo__text {
  display: block;
  width: 101px;
  height: 18px;
}
