.main-footer {
  background-color: #f2f2f2;
}

.main-footer__container {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.main-footer__social {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px 0 19px;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
