.main-footer {
  background-color: #f2f2f2;
}

.main-footer__container {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: grid;
    justify-content: space-between;
    padding: 57px 30px 55px;

    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $desktop-width) {
    // padding-top: 67px;
    // padding-bottom: 65px;

    // padding: 66px 90px;
    margin: 0;
  }
}

.main-footer__logo {
  display: block;
  margin: 0 auto 19px;

  @media (min-width: $tablet-width) {
    width: 128px;
    height: 24px;
    margin: 0;

    object-fit: contain;
  }
}

.main-footer__logo svg {
  display: block;
  width: 100%;
  height: 100%;
}

.main-footer__social {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px 20px;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: 0;

    border: none;
  }
}
