// мин ширина есть на body, паддинг горизонтальный есть на container
.main-header__container {
  position: relative;

  display: flex;
  justify-content: space-between;
}

// @media (min-width: $tablet-width) {
//   .main-header__container {
//     display: flex;
//     justify-content: space-between;
//     width: 709px;
//   }
// }

.main-header__toggle,
.nav__toggle {
  cursor: pointer;
}
