// мин ширина есть на body, паддинг горизонтальный есть на container
.main-header__container {
  position: relative;

  display: flex;
  justify-content: space-between;
}

.logo {
  display: block;
  width: fit-content;

  cursor: pointer;

  &--full {
    display: grid;
    align-items: center;

    column-gap: 56px;

    grid-template-columns: auto 1fr;
  }
}

.logo__cat-img {
  display: block;
  width: 33px;
  height: 38px;
}

.logo__cat-text {
  display: block;
  width: 101px;
  height: 18px;
}
