.map__container {
  position: relative;

  background: rgb(242, 242, 242);

  @media (min-width: $tablet-width) {
    padding: 60px 70px;
  }
}

.map {
  position: relative;
}

.map--home {
  background-color: #ffffff;
}

.map__contact {
  display: grid;
  padding: 26px 0;

  grid-template-columns: repeat(2, 1fr);

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;

    padding: 60px 74px;

    background: rgb(255, 255, 255);
  }
}

.map__title {
  margin: 0;
  padding: 0 20px 0 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $ff-oswald;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.map__address {
  margin: 0;
  padding: 0 20px 0 0;

  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
}

.map__iframe {
  width: 100%;
}

.map__img {
  display: block;
}
