.offer__container {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.offer__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;

    gap: 80px;
    grid-template-columns: 1fr 1fr;
  }
}

.offer__item {
  position: relative;

  padding: 30px 33px 21px 20px;

  background-color: #f2f2f2;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    padding: 77px 330px 58px 52px;
  }

  // @media (min-width: $desktop-width) {
  //   padding: 77px 330px 58px 52px;
  // }

  &--slim {
    background-image: url("../../img/svg/cat-slim.svg");
    background-position: 20px 21px;
    background-size: 50px 53px;

    @media (min-width: $tablet-width) {
      background-position: top 80px right 62px;
      background-size: 200px 211px;
    }

    @media (min-width: $desktop-width) {
      background-position: 71px 38px;
      background-size: 100px 106px;
      padding-right: 61px;
      padding-left: 67px;
    }
  }

  &--pro {
    background-image: url("../../img/svg/cat-pro.svg");
    background-position: 12px 24px;
    background-size: 67px 52px;

    @media (min-width: $tablet-width) {
      background-position: top 90px right 26px;
      background-size: 268px 200px;
      padding-right: 320px;
    }

    @media (min-width: $desktop-width) {
      background-position: 34px 47px;
      background-size: 134px 100px;
      padding-right: 67px;
    }
  }
}

.offer__title {
  margin: 0 0 29px 70px;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  font-family: $ff-oswald;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0 0 24px 0;

    font-size: 36px;
    line-height: 36px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-left: 160px;
    margin-bottom: 73px;
  }
}

.offer__text {
  margin: 0 0 16px;
  padding-bottom: 25px;

  font-size: 14px;
  line-height: 18px;
  color: #444444;

  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
    padding: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;

    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 27px 0;
  }
}

.offer__link {
  display: block;
  width: 100%;

  font-size: 16px;
  line-height: 16px;
  font-family: $ff-oswald;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  background-image: url("../../img/svg/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: 100px;
  background-size: 25px 10px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    background-size: 26px 10px;
    background-position: 129px;
  }

  &:hover {
    background-size: 32px 10px;
  }

  &:focus {
    background-size: 32px 10px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 3px solid #5eaa2f;
  }

  &:active {
    opacity: 0.3;
  }
}
