.promo__container {
  @media (min-width: $tablet-width) {
    display: grid;
  }

  // @media (min-width: $desktop-width) {
  //   align-items: start;
  //   padding-bottom: 54px;

  //   grid-template-columns: auto 1fr;
  // }

  @media (min-width: $desktop-width) {
    align-items: start;
    padding-bottom: 160px;

    grid-template-columns: auto 1fr;
  }
}

// div
.promo__description {
  padding: 26px 0 164px;

  text-align: center;
  color: #ffffff;

  background-color: rgba(104, 183, 56, 0.85);
  background-image: linear-gradient(
      rgba(104, 183, 56, 0.85),
      rgba(104, 183, 56, 0.85)
    ),
    url("../../img/index-background-mobile.jpg");
  background-repeat: repeat, no-repeat;
  background-position: top;
  background-size: auto, cover;

  @media (max-width: 767px) {
    margin: 0 -20px;
  }

  @media (min-width: $tablet-width) {
    padding: 65px 90px 20px;

    text-align: left;
    color: #000000;

    background: none;
  }

  @media (min-width: $desktop-width) {
    width: 545px;
    padding: 110px 20px 30px 70px;

    // background: initial;
    // background: unset;
    // :(
  }
}

.promo__title {
  margin-bottom: 25px;

  color: inherit;

  @media (max-width: 767px) {
    line-height: 36px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.promo__text {
  margin: 0;

  font-size: 14px;
  line-height: 14px;
  font-family: $ff-oswald;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 29px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.promo__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    z-index: 2;

    width: 244px;
    margin-left: 90px;
    padding: 17px 10px;

    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 70px;
  }
}

.promo__img {
  width: 280px;
  height: 270px;
  margin: -135px auto 2px;

  @media (min-width: $tablet-width) {
    order: 1;
    width: 100%;
    max-width: 709px;
    height: 609px;
    margin: -90px auto 0;
  }

  @media (min-width: $desktop-width) {
    z-index: auto;

    order: unset;
    width: 552px;
    height: 499px;
    margin: 3px 0 0 -98px;

    grid-column: -2 / -1;
    grid-row: 1 / 4;
  }
}

.promo__img-can {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: contain;

  // @media (min-width: $tablet-width) {
  //   background-position: 90px;
  //   // margin-left: 20px;
  //   // margin: -90px auto 0;
  // }

  @media (min-width: $desktop-width) {
    margin-top: 25px;
  }
}
