.slider {
  position: relative;

  width: 100%;
  max-width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 560px;
  }
}

.slider__container {
  position: relative;

  min-height: 256px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    min-height: 512px;
  }
}

.slider__item {
  position: absolute;
  top: 0;
  left: 0;

  width: 50%;
  height: 100%;
  overflow: hidden;
}

.slider__item img {
  display: block;
  width: 100%;
  height: 100%;
}

.slider__item--before {
  z-index: 2;
}

.slider__item--after {
  right: 0;
  left: auto;
  z-index: 1;
}

.slider__item--before img {
  object-position: left;
}

.slider__item--after img {
  object-position: right;
}

.slider__button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;

  width: 4px;
  padding: 0;
  color: #666666;
  background-color: currentColor;
  border: none;

  border-radius: 2px;
  fill: currentColor;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #68b738;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 3px solid #5eaa2f;
  }

  &:active {
    color: #5eaa2f;
  }
}

.slider__button-decoration {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  color: currentColor;
  background-color: #ffffff;
  border: 2px solid currentColor;
  border-radius: 20px;
  fill: currentColor;
  cursor: pointer;

  // // перекрашу свг в след разделе
  // &:hover {
  //   // color: #68b738;
  // }

  // &:focus {
  //   // color: #5eaa2f;
  // }
}
