.social {
  display: grid;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 24px;
  grid-template-columns: repeat(3, auto);
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 22px;

  color: #666666;

  fill: currentColor;

  //  &:hover {
  //   }

  &:focus {
    color: #68b738;
  }

  &:active {
    color: #68b738;

    opacity: 0.3;
  }
}
