.supplementary__container {
  display: flex;
  justify-content: space-between;
}

// .supplementary-wrapper {

// }

.supplementary__list {
  display: grid;

  list-style: none;

  grid-template-rows: repeat(4, 1fr);
}

// не забыть зеленые полоски

.supplementary__item {
  display: grid;
  padding: 15px 0 17px;

  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;

  grid-template-columns: repeat(4, 1fr);
}

.supplementary__title {
  margin: 0;

  font-size: 20px;
  line-height: 20px;
  font-family: $ff-oswald;
  text-align: center;
  color: #222222;
  text-transform: uppercase;

  grid-column: 1/2;
  grid-template-columns: repeat(4, 1fr);
}

.supplementary__description {
  margin: 0;

  grid-column: 2/3;
}

.supplementary__price {
  margin: 0;

  grid-column: 3/4;
}

.supplementary__link {
  grid-column: 4/5;
}

.supplementary__proposal {
  min-width: 245px;
  min-height: 288px;
  padding: 185px 42px 43px;

  background-color: rgba(104, 183, 56, 0.85);
  background-image: linear-gradient(
      rgba(104, 183, 56, 0.85),
      rgba(104, 183, 56, 0.85)
    ),
    url("../../img/cat-in-box.jpg");
  background-repeat: repeat, no-repeat;
  background-position: top;
  background-size: auto, cover;
}

// шрифт наследуется от тела?
.supplementary__text {
  margin: 0;

  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
