.technology__title {
  margin-bottom: 40px;
}

.technology__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 20px;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.technology__item {
  position: relative;

  min-height: 60px;
  padding: 0 0 0 80px;

  font-size: 14px;
  line-height: 18px;
}
