// stylelint-disable

body * {
  outline: var(--outline-width) solid var(--outline-color);
  --outline-color: oklch(var(--lightness) var(--chroma) var(--hue));
  /**
	 * 5) Толщина обводки
	 */
  --outline-width: 3px;
  outline-offset: calc(-1 * var(--outline-width));

  transition: all 0.1s;
  /**
	 * 6) Непрозрачность фонового цвета
	 */

  --bgc-opacity: 0.1;
  /**
	 * 3) Цветность обводки
	 */
  --chroma: 0.12;
  --class-indicator-size: 1.6;
  --hue: calc(var(--hue-offset) + var(--hue-rotate) * var(--hue-rotate-step));
  /*****************************************
	 * Управляй обводкой шестью параметрами: *
	 *****************************************/
  /**
	 * 1) Тон цвета по цветовому кругу обводки первого потомка body
	 *    возможны отрицательные значения
	 */
  --hue-offset: 30;
  /*
	 * 2) Угол поворота по цветовому кругу для более глубокой вложенности
	 *    возможны отрицательные значения
	 */
  --hue-rotate: 55;
  /**
	 * 4) Светлость цвета обводки
	 */
  --lightness: 45%;
}

body *:hover {
  background-image: linear-gradient(var(--voile), var(--voile));
  box-shadow: 0 0 15px 5px oklch(0 0 0 / 0.5);

  --voile: oklch(var(--lightness) var(--chroma) var(--hue) / var(--bgc-opacity));
}

body *:hover::after {
  position: fixed;
  content: attr(class);
  z-index: 100;
  inset-block-start: calc(1em * var(--class-indicator-size) * var(--hue-rotate-step));
  inset-inline-end: 0;

  padding-inline: 1em;

  font-family: monospace;
  font-size: 16px;
  line-height: var(--class-indicator-size);
  color: oklch(100% 0 0);
  text-align: center;
  text-transform: none;
  white-space: pre;

  opacity: 0.9;
  background: var(--outline-color);
}

body > * {
  --hue-rotate-step: 0;
}

body > * > * {
  --hue-rotate-step: 1;
}

body > * > * > * {
  --hue-rotate-step: 2;
}

body > * > * > * > * {
  --hue-rotate-step: 3;
}

body > * > * > * > * > * {
  --hue-rotate-step: 4;
}

body > * > * > * > * > * > * {
  --hue-rotate-step: 5;
}

body > * > * > * > * > * > * > * {
  --hue-rotate-step: 6;
}

body > * > * > * > * > * > * > * > * {
  --hue-rotate-step: 7;
}

body > * > * > * > * > * > * > * > * > * {
  --hue-rotate-step: 8;
}

body > * > * > * > * > * > * > * > * > * > * {
  --hue-rotate-step: 9;
}

body > * > * > * > * > * > * > * > * > * > * > * {
  --hue-rotate-step: 10;
}
