@import "./base/variables.scss";

@import "./base/fonts.scss";

// МИКСИНЫ
@import "./base/mixins.scss";

// БАЗОВЫЕ СВОЙСТВА
@import "./base/base.scss";

@import "./base/visually-hidden.scss";

@import "./base/page-wrapper.scss";

@import "./base/main.scss";

//  ОБЩИЕ БЛОКИ
@import "./bloсks/button.scss";

@import "./bloсks/container.scss";

@import "./bloсks/page-title.scss";

// БЛОКИ HEADER
@import "./bloсks/logo-html.scss";

@import "./bloсks/site-list.scss";

@import "./bloсks/nav.scss";

@import "./bloсks/main-header.scss";

// БЛОКИ INDEX

@import "./bloсks/promo.scss";

@import "./bloсks/offer.scss";

@import "./bloсks/technology.scss";

@import "./bloсks/slider.scss";

@import "./bloсks/example.scss";

//  БЛОКИ - FORM

@import "./bloсks/application.scss";

@import "./bloсks/form.scss";

@import "./bloсks/form-data.scss";

@import "./bloсks/form-contacts.scss";

@import "./bloсks/form-comments.scss";

@import "./bloсks/form-check.scss";

@import "./bloсks/form-radio.scss";

@import "./bloсks/form-order.scss";

@import "./bloсks/form-input.scss";

@import "./bloсks/form-label.scss";

// БЛОКИ - CATALOG
@import "./bloсks/catalog.scss";

@import "./bloсks/catalog-description.scss";

@import "./bloсks/catalog-table.scss";

@import "./bloсks/catalog-card-more.scss";

@import "./bloсks/supplementary-container.scss";

// БЛОКИ FOOTER

@import "./bloсks/map.scss";

@import "./bloсks/social.scss";

@import "./bloсks/main-footer.scss";

// stylelint-disable

// body * {
//   outline: var(--outline-width) solid var(--outline-color);
//   /**
// 	 * 5) Толщина обводки
// 	 */
//   --outline-width: 3px;
//   --outline-color: oklch(var(--lightness) var(--chroma) var(--hue));
//   outline-offset: calc(-1 * var(--outline-width));

//   transition: all 0.1s;
//   /**
// 	 * 6) Непрозрачность фонового цвета
// 	 */

//   --bgc-opacity: 0.1;
//   /**
// 	 * 3) Цветность обводки
// 	 */
//   --chroma: 0.12;
//   --class-indicator-size: 1.6;
//   --hue: calc(var(--hue-offset) + var(--hue-rotate) * var(--hue-rotate-step));
//   /*****************************************
// 	 * Управляй обводкой шестью параметрами: *
// 	 *****************************************/
//   /**
// 	 * 1) Тон цвета по цветовому кругу обводки первого потомка body
// 	 *    возможны отрицательные значения
// 	 */
//   --hue-offset: 30;
//   /*
// 	 * 2) Угол поворота по цветовому кругу для более глубокой вложенности
// 	 *    возможны отрицательные значения
// 	 */
//   --hue-rotate: 55;
//   /**
// 	 * 4) Светлость цвета обводки
// 	 */
//   --lightness: 45%;
// }

// body *:hover {
//   background-image: linear-gradient(var(--voile), var(--voile));
//   box-shadow: 0 0 15px 5px oklch(0 0 0 / 0.5);

//   --voile: oklch(
//     var(--lightness) var(--chroma) var(--hue) / var(--bgc-opacity)
//   );
// }

// body *:hover::after {
//   content: attr(class);
//   position: fixed;
//   z-index: 100;

//   font-size: 16px;
//   line-height: var(--class-indicator-size);
//   font-family: monospace;
//   text-align: center;
//   color: oklch(100% 0 0);
//   text-transform: none;
//   white-space: pre;

//   background: var(--outline-color);
//   opacity: 0.9;

//   inset-block-start: calc(
//     1em * var(--class-indicator-size) * var(--hue-rotate-step)
//   );
//   inset-inline-end: 0;
//   padding-inline: 1em;
// }

// body > * {
//   --hue-rotate-step: 0;
// }

// body > * > * {
//   --hue-rotate-step: 1;
// }

// body > * > * > * {
//   --hue-rotate-step: 2;
// }

// body > * > * > * > * {
//   --hue-rotate-step: 3;
// }

// body > * > * > * > * > * {
//   --hue-rotate-step: 4;
// }

// body > * > * > * > * > * > * {
//   --hue-rotate-step: 5;
// }

// body > * > * > * > * > * > * > * {
//   --hue-rotate-step: 6;
// }

// body > * > * > * > * > * > * > * > * {
//   --hue-rotate-step: 7;
// }

// body > * > * > * > * > * > * > * > * > * {
//   --hue-rotate-step: 8;
// }

// body > * > * > * > * > * > * > * > * > * > * {
//   --hue-rotate-step: 9;
// }

// body > * > * > * > * > * > * > * > * > * > * > * {
//   --hue-rotate-step: 10;
// }
